<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <img src="assets/images/blockchain.svg" alt="Logo" width="25" class="float-left" style="margin-left: 10px;">
  <a class="navbar-brand tituloPrincipal" routerLink="/" style="width: 165px;">ForoCoin</a>
  <ul class="navbar-nav ml-auto">
    <app-login></app-login>
    <div *ngIf="loginService.isLogged()">
      <li ngbDropdown class="d-inline-block">
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem routerLink="/settings">Mi cuenta</a>
        </div>
      </li>
    </div>
  </ul>
</nav>
