<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <img src="assets/images/blockchain.svg" alt="Logo" width="25" class="float-left" style="margin-left: 10px;">
  <a class="navbar-brand tituloPrincipal" href="/" style="width: 165px;">ForoCoin</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i
    class="fas fa-bars"></i></button>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto">
    <app-login></app-login>
    <div *ngIf="loginService.isLogged()">
      <li ngbDropdown class="d-inline-block">
        <a class="btn btn-light btn-outline-secondary ml-2" id="dropdownBasic1" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle><i class="fas fa-user fa-fw"></i></a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem routerLink="/settings">Mi cuenta</a>
        </div>
      </li>
    </div>
  </ul>
</nav>
