<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu mx-2">
      <div class="nav mt-4 mx-2">
        <a class="nav-link" routerLink="/">
          <div class="sb-nav-link-icon mr-3">
            <img src="assets/images/blockchainB-W.svg" alt="LogoB-W" width="22">
          </div>
          ForoCoin
        </a>
        <a class="nav-link" routerLink="/cryptocurrencies">
          <div class="sb-nav-link-icon mr-3">
            <img src="assets/images/cryptocurrencyB-W.svg" alt="CryptoB-W" width="22">
          </div>
          Todas las criptomonedas
        </a>
        <div *ngIf="loginService.isLogged()">
          <a class="nav-link" routerLink="/favCryptos">
            <div class="sb-nav-link-icon mr-3">
              <img src="assets/images/favoriteB-W.svg" alt="CryptoB-W" width="22">
            </div>
            Criptomonedas favoritas
          </a>
        </div>
        <div *ngIf="loginService.isAdmin()">
            <a class="nav-link" routerLink="/userslist">
              <div class="sb-nav-link-icon mr-3">
                <img src="assets/images/userGroup.svg" alt="UserIcon" width="22">
              </div>
              Listado de usuarios
            </a>
        </div>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      <div *ngIf="loginService.isLogged()">
        {{loginService.currentUser().name}}
      </div>
      <div *ngIf="!loginService.isLogged()">
        Invitado
      </div>
    </div>
  </nav>
</div>
