<button ngbDropdownItem class="text-center" data-toggle="modal" (click)="triggerModal(modalData)" data-target="#threadModal">He olvidado mi contraseña</button>
<ng-template #modalData let-modal>
    <div class="modal-header d-flex align-items-center bg-primary text-white">
        <h6 class="modal-title mb-0">Recuperar contraseña</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="small mb-3 text-muted">Introduce tu direccion de correo y te enviaremos un correo para resetear la contraseña.</div>
        <div class="form-group">
            <label class="small mb-1" for="email">Email</label>
            <input #email class="form-control py-4" id="email" name="email" type="email" placeholder="Introduce tu email"/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="sendEmail($event, email.value); modal.dismiss()">Enviar correo</button>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </div>
</ng-template>