<div class="card mb-2">
    <div class="card-body p-2 p-sm-3">
        <div class="row">
            <div class="col-11">
                <div class="media forum-item" *ngFor = "let entry of entries">
                    <a><img src="{{entry.image}}" class="rounded-circle"
                            width="50" height="50" alt="User"/>
                        <small class="d-block text-center text-muted">{{entry.user.firstname}}</small></a>
                    <div class="media-body ml-3">
                        <h6><a href="#" class="text-body">{{entry.title}}</a></h6>
                        <form method="post" action="/newComment"
                              modelAttribute="comment">
                            <input type="hidden" value="{{entry.idEntry}}" name="idEntry">
                            <p class="text-secondary">
                                {{entry.description}}
                            </p>
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control"
                                           name="descriptionComment"
                                           placeholder="Responder">
                                </div>
                                <div class="col-3">
                                    <input type="submit" class="btn-primary"
                                           value="Publicar">
                                </div>
                                <input type="hidden" name="_csrf" value="SeraEltoken"/>
                            </div>
                        </form>
                        <a class="small text-muted" data-toggle="collapse"
                           href="#commentsBox{{entry.idEntry}}">Comentarios</a>
                        <div class="collapse" id="commentsBox{{entry.idEntry}}">
                            <div class="card card-body">
                                <app-comment></app-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>