<div class="card mb-2">
    <div class="card-body p-2 p-sm-3">
        <div class="row">
            <div class="col-11">
                <div class="media forum-item" *ngFor = "let entry of entriesService.entries">
                    <a><img [src]="usersService.getImageByUserID(entry.user)" class="rounded-circle"
                            width="50" height="50" alt="User"/>
                        <small class="d-block text-center text-muted">{{entry.user.firstname}}</small></a>
                    <div class="media-body ml-3">
                        <h6><a routerLink="#" class="text-body">{{entry.title}}</a></h6>
                        <form method="post" action="/newComment"
                              modelAttribute="comment">
                            <input type="hidden" value="{{entry.idEntry}}" name="idEntry">
                            <p class="text-secondary">
                                {{entry.description}}
                            </p>
                            <app-new-comment [idEntry]="entry.idEntry"></app-new-comment>
                        </form>
                        <a class="btn text-muted" (click)="collapse.toggle()">Comentarios</a>
                        <div class="collapse" #collapse="ngbCollapse" ngbCollapse="isCollapsed">
                            <app-comment [idEntry]="entry.idEntry"></app-comment>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" id="moreEntriesbtn" [style]="showBtn" (click)="ajaxGetMore(pageToFind)">Cargar mas</button>
                </div>
            </div>
        </div>
    </div>
</div>
