<!--suppress XmlInvalidId -->
<form *ngIf="!loginService.isLogged()" class="navbar-form navbar-right form-inline" role="search">
  <div class="row" placement="right-bottom">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light btn-outline-secondary" id="dropdownForm1" ngbDropdownToggle>Login</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu dropdown-menu-right">
          <form class="px-4 py-3" style="margin-bottom: -15px">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
              <input #user type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Contraseña</label>
              <input #pass type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" (click)="logIn($event, user.value, pass.value)" class="btn btn-success mt-2 mb-0" style="margin-left: 177px">Entrar</button>
          </form>
          <div class="dropdown-divider"></div>
          <app-register></app-register>
          <app-send-email></app-send-email>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="loginService.isLogged()" class="nav navbar-nav navbar-right">

	<ul class="nav navbar-nav">
		<li>
			<button class="btn btn-default btn-danger navbar-btn" (click)="loginService.logOut()" type="button" routerLink="/">Log Out</button>
		</li>
	</ul>

</div>
