<div id="layoutSidenav_content">
  <main>
    <div class="card container-fluid" style="width: 70rem;">
      <div class="card-body">
        <div class="row">
          <div class="col-12"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center"><img class="rounded-circle" width="300" height="300" [src]="getImageByUserID(loginService.currentUser().idUser)" alt="User">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2"><p><b>IMAGEN:</b></p></div>
          <div class="col-10"><input type="file" name="imageFile" accept=".jpg, .jpeg, .jfif"/></div>
        </div>
        <div class="row">
          <div class="col-2 col-form-label"><p><b>NOMBRE:</b></p></div>
          <div class="col-10"><input type="text" class="form-control" value="{{loginService.currentUser().firstname}}"
                                     id="firstname" name="firstname"
                                     autofocus=""/></div>
        </div>
        <div class="row">
          <div class="col-2 col-form-label"><p><b>APELLIDO:</b></p></div>
          <div class="col-10"><input type="text" class="form-control" value="{{loginService.currentUser().surname}}"
                                     id="surname" name="surname"
                                     autofocus=""/></div>
        </div>
        <div class="row">
          <div class="col-2 col-form-label"><p><b>ALIAS:</b></p></div>
          <div class="col-10"><input type="text" class="form-control" value="{{loginService.currentUser().name}}"
                                     id="userName" name="userName"
                                     maxlength="100" readonly/></div>
        </div>
        <div class="row">
          <div class="col-2 col-form-label"><p><b>CORREO:</b></p></div>
          <div class="col-10"><input type="text" class="form-control" id="email"
                                     value="{{loginService.currentUser().email}}" name="email"
                                     maxlength="100" autofocus="" readonly/></div>
        </div>
        <div class="row pt-3">
          <div class="col"><input type="submit" class="float-right btn btn-primary" value="Guardar cambios"/> <input
            type="hidden" name="_csrf" value=""/></div>
        </div>
      </div>
    </div>
  </main>
</div>
