<div id="layoutError_content" class="mb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-auto">
        <div class="text-center mt-4">
          <img class="img-error-404" src="assets/images/error-404-monochrome.svg" alt="404-img"/>
          <h1 class="mb-4">This requested URL was not found on this server.</h1>
          <h4>
            <a routerLink="/">
              <i class="fas fa-arrow-left mr-1"></i>
              Return to ForoCoin
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
