
<div class="container-fluid">
  <h1 class="mt-3 tituloPrincipal text-center">Listado de usuarios</h1>
    <div class="card mb-4" style="margin-top: 20px">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Usuarios
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Nickname</th>
                          <th>Email</th>
                          <th>Fecha de registro</th>
                          <th>Control Usuario</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <input type="hidden" value="{{user.idUser}}" id="idUser" name="idUser">
                            <td class="align-middle">{{user.firstname}}</td>
                            <td class="align-middle">{{user.surname}}</td>
                            <td class="align-middle">{{user.name}}</td>
                            <td class="align-middle">{{user.email}}</td>
                            <td class="align-middle">{{user.registrationDate}}</td>
                            <td class="align-middle">
                                <button class="btn btn-danger" (click)="deleteUserById(user.idUser)" >ELIMINAR</button>
                                <input type="hidden" name="_csrf" value=""/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


