{{>header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 tituloPrincipal text-center">Criptomonedas favoritas</h1>
            <div class="panel-group" style="margin-top: 20px" id="accordion">
                <!--Tablas-->
                <div class="card">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Gráfica</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                            <th class="align-middle" scope="row">1</th>
                            <td class="align-middle"><a href="/Bitcoin"
                                                        class="text-decoration-none text-dark">Bitcoin</a>
                            </td>
                            <td class="align-middle">57.219,08 US$</td>
                            <td class="align-middle">
                                <img src="images/miniBitcoinChart.svg" alt="grafico">
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn">
                                    <img src="images/star.svg" width="20" alt="">
                                </button>
                            </td>
                        </tr>
                        <tr data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1">
                            <th class="align-middle" scope="row">2</th>
                            <td class="align-middle"><a href="/Dogecoin"
                                                        class="text-decoration-none text-dark">Dogecoin</a>
                            </td>
                            <td class="align-middle">0,0557 US$</td>
                            <td class="align-middle">
                                <img src="images/miniDogeChart.svg" alt="">
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn">
                                    <img src="images/star.svg" width="20">
                                </button>
                            </td>
                        </tr>
                        <tr data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                            <th class="align-middle" scope="row">3</th>
                            <td class="align-middle"><a href="/Bitcoin"
                                                        class="text-decoration-none text-dark">Ethereum</a>
                            </td>
                            <td class="align-middle">1670,08 US$</td>
                            <td class="align-middle">
                                <img src="images/miniEthereumChart.svg" alt="grafico">
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn">
                                    <img src="images/star.svg" width="20" alt="">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}


