{{>header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" style="margin-top: -20px">
            <h1 class="mt-4 tituloPrincipal text-center">ForoCoin</h1>
            <div class="card mb-4" style="margin-top: 20px">
                <div class="card-header text-center align-middle">
                    <img src="images/foroB-W.svg" alt="Logo" width="22" class="float-none"
                         style="margin-right: 10px;">
                    <h5>FORO PRINCIPAL</h5>
                </div>
                <link rel="stylesheet"
                      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
                      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>
                <div class="main-body p-0">
                    <div class="inner">
                        <div class="container-fluid">
                            <!-- Inner main header -->
                            <div class="inner-sidebar-header"
                                 style="border-bottom: 1px solid #0000;">
                                        <span class="input-icon input-icon-sm ml-auto w-auto col-3">
                                            <input type="text"
                                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                                                   placeholder="Search forum"/>
                                        </span>
                                <div class="col-4"></div>
                                <button class="btn btn-info col-5 btn-sm align-right" type="button"
                                        data-toggle="modal" data-target="#threadModal">
                                    NEW DISCUSSION
                                </button>
                            </div>
                            <div class="inner-main-header" style="border-bottom: 1px solid #0000;">
                                <ul class="nav nav-tabs nav-fill flex-fill d-flex flex-nowrap">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                           role="button" aria-haspopup="true" aria-expanded="true">Order By</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Latest</a>
                                            <a class="dropdown-item" href="#">Popular</a>
                                            <a class="dropdown-item" href="#">Solved</a>
                                            <a class="dropdown-item" href="#">Unsolved</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">No replies yet</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <b><a class="nav-link" href="#">Popular this week</a></b>
                                    </li>
                                    <li class="nav-item">
                                        <b><a class="nav-link" href="#">Popular this month</a></b>
                                    </li>
                                </ul>
                                <!--<a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none"
                               href="#" data-toggle="inner-sidebar"><i
                                    class="material-icons">arrow_forward_ios</i></a>-->
                            </div>
                            <div class="container-fluid">

                            </div>
                            <!-- /Inner main header -->
                            <!-- Entries with mustache -->

                            <!-- Forum List -->
                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                                {{#entries}}
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                                <a href="#" class="card-link" data-toggle="collapse" data-target=".forum-content"><img
                                                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                        class="rounded-circle" width="50" alt="User"/>
                                                    <small class="d-block text-center text-muted">{{user.nickname}}</small></a>
                                            <div class="media-body ml-3">
                                                <h6><a href="#" data-toggle="collapse"
                                                       data-target=".forum-content" class="text-body">{{title}}</a></h6>
                                                <p class="text-secondary">
                                                    {{description}}
                                                </p>
                                                <span><a href="javascript:void(0)" class="text-muted small"
                                                         data-toggle="modal" data-target="#commentModal"
                                                         >Reply</a></span>
                                            </div>
                                            <div class="text-muted small text-center align-self-center">
                                                        <span class="d-none d-sm-inline-block"><i
                                                                class="far fa-eye"></i> 19</span>
                                                <span><i class="far fa-comment ml-2"></i> 3</span>
                                                <button class="btn btn-xs text-muted has-icon">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    5
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Commentary modal -->
                                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog"
                                     aria-labelledby="commentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            {{#logged}}
                                            <form method="post" action="/newComment" modelAttribute="comment">
<!--                                                <input type="hidden" value="" name="idEntry" id="idEntry">-->
                                                <div
                                                        class="modal-header d-flex align-items-center bg-primary text-white">
                                                    <h6 class="modal-title mb-0">New Comment
                                                    </h6>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="descriptionComment">Description</label>
                                                        <input class="form-control" id="descriptionComment" name="descriptionComment"
                                                               placeholder="Enter description"/>
                                                    </div>
                                                    <div class="custom-file form-control-sm mt-3"
                                                         style="max-width: 300px;">
                                                        <input type="file" class="custom-file-input" id="customFile"
                                                               multiple=""/>
                                                        <label class="custom-file-label"
                                                               for="customFile">Attachment</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                    <div><input type="submit" class="btn-primary btn-block" value="Post"></div>
                                                </div>
                                            </form>
                                            {{/logged}}
                                            {{^logged}}
                                            <div
                                                    class="modal-header d-flex align-items-center bg-primary text-white">
                                                <h6 class="modal-title mb-0" id="commentModalLabel">New Comment
                                                </h6>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-center">Please sign in to reply this entry.</p>
                                            </div>
                                            {{/logged}}
                                        </div>
                                    </div>
                                </div>
                                {{/entries}}
                            </div>
                            <!-- /Forum List -->
                            <div class="text-center mb-4" id="loadMore">
                                <button class="btn btn-primary">Cargar más</button>
                            </div>
                            <!-- Forum Detail -->
                            {{#comments}}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <div class="media forum-item">
                                        <a href="javascript:void(0)" class="card-link">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                 class="rounded-circle" width="50" alt="User"/>
                                            <small class="d-block text-center text-muted">{{user.nickname}}</small>
                                        </a>
                                        <div class="media-body ml-3">
                                            <a href="javascript:void(0)" class="text-secondary">{{user.nickname}}</a>
                                            <small class="text-muted ml-2">1 hour ago</small>
                                            <h5 class="mt-1">{{title}}</h5>
                                            <div class="mt-3 font-size-sm">
                                                <p>Hellooo :)</p>
                                                <p>
                                                    Holaaa soy nuevo en este foro y me gustaria que alguien me
                                                    echara una mano.
                                                    Estaria interesado en comprar Dogecoins viendo que se habla
                                                    mucho de ellos.
                                                    Ya puestos me gustaria que alguien me explicara un poco como
                                                    va esto de las criptomoendas.
                                                </p>
                                                <p>Thanksss</p>
                                            </div>
                                        </div>
                                        <div class="text-muted small text-center">
                                                        <span class="d-none d-sm-inline-block"><i
                                                                class="far fa-eye"></i> 19</span>
                                            <span><i class="far fa-comment ml-2"></i> 3</span>
                                            <button class="btn btn-xs text-muted has-icon">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                5
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/comments}}
                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content">
                                <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse"
                                   data-target=".forum-content"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="media forum-item">
                                            <a href="javascript:void(0)" class="card-link">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                     class="rounded-circle" width="50" alt="User"/>
                                                <small class="d-block text-center text-muted">Newbie</small>
                                            </a>
                                            <div class="media-body ml-3">
                                                <a href="javascript:void(0)" class="text-secondary">Mokrani</a>
                                                <small class="text-muted ml-2">1 hour ago</small>
                                                <h5 class="mt-1">Los buenos Doges</h5>
                                                <div class="mt-3 font-size-sm">
                                                    <p>Hellooo :)</p>
                                                    <p>
                                                        Holaaa soy nuevo en este foro y me gustaria que alguien me
                                                        echara una mano.
                                                        Estaria interesado en comprar Dogecoins viendo que se habla
                                                        mucho de ellos.
                                                        Ya puestos me gustaria que alguien me explicara un poco como
                                                        va esto de las criptomoendas.
                                                    </p>
                                                    <p>Thanksss</p>
                                                </div>
                                            </div>
                                            <div class="text-muted small text-center">
                                                        <span class="d-none d-sm-inline-block"><i
                                                                class="far fa-eye"></i> 19</span>
                                                <span><i class="far fa-comment ml-2"></i> 3</span>
                                                <button class="btn btn-xs text-muted has-icon">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    5
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="media forum-item">
                                            <a href="javascript:void(0)" class="card-link">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                                     class="rounded-circle" width="50" alt="User"/>
                                                <small class="d-block text-center text-muted">Pro</small>
                                            </a>
                                            <div class="media-body ml-3">
                                                <a href="javascript:void(0)" class="text-secondary">drewdan</a>
                                                <small class="text-muted ml-2">1 hour ago</small>
                                                <div class="mt-3 font-size-sm">
                                                    <p>Sobre que mas criptomonedas te gustaria aprender?
                                                    </p>
                                                    <p>Bueno pues para empezar ya sabras que en este foro se habla
                                                        principalmente sobre criptomonedas. Creo que deberias
                                                        documentarte bien
                                                        antes de empezar a invertir mucho dinero en los doges.
                                                        Espero haberte sido de ayuda, un saludo.
                                                    </p>
                                                </div>
                                                <button class="btn btn-xs text-muted has-icon"><i
                                                        class="fa fa-heart" aria-hidden="true"></i>1
                                                </button>
                                                <a href="javascript:void(0)" class="text-muted small"
                                                   data-toggle="modal" data-target="#commentModal">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Forum Detail -->
                        </div>
                        <!-- New Thread Modal -->
                        <div class="modal fade" id="threadModal" tabindex="-1" role="dialog"
                             aria-labelledby="threadModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    {{#logged}}
                                    <form method="post" action="/newEntry" modelAttribute="entry">
                                        <div
                                                class="modal-header d-flex align-items-center bg-primary text-white">
                                            <h6 class="modal-title mb-0">New Discussion
                                            </h6>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" id="title"
                                                       name="title"
                                                       placeholder="Enter title" autofocus=""/>
                                            </div>
                                            <textarea class="form-control summernote"
                                                      style="display: none;"></textarea>
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" id="description"
                                                          name="description"
                                                          placeholder="Enter description" rows="3"></textarea>
                                            </div>
                                            <div class="custom-file form-control-sm mt-3"
                                                 style="max-width: 300px;">
                                                <input type="file" class="custom-file-input"
                                                       multiple=""/>
                                                <label class="custom-file-label"
                                                       for="customFile">Attachment</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                    data-dismiss="modal">Cancel
                                            </button>
                                            <input type="submit" class="btn btn-primary" value="Post"/>
                                        </div>
                                    </form>
                                    {{/logged}}
                                    {{^logged}}
                                    <div
                                            class="modal-header d-flex align-items-center bg-primary text-white">
                                        <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion
                                        </h6>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center">Please sign in to create a new entry.</p>
                                    </div>
                                    {{/logged}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}