{{>header}}
    <div id="layoutSidenav_content">
        <main>
            <div class="card container-fluid" style="width: 70rem;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <img class="rounded-circle mx-auto d-block" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="bitcoin profile image" width="200">
                            <a href=""><p class="text-center pt-3">Editar imagen de perfil</p></a>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-2 col-form-label">
                            <p><b>NOMBRE:</b></p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control"
                            value={{name}} maxlength="100" autofocus="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-form-label">
                            <p><b>APELLIDO:</b></p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control"
                            value={{surname}} maxlength="100" autofocus="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-form-label">
                            <p><b>ALIAS:</b></p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control"
                            value={{userName}} maxlength="100" autofocus="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-form-label">
                            <p><b>CORREO:</b></p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" id=""
                            value={{email}} maxlength="100" autofocus="" />
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <button class="float-right btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{{>footer}}